html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    color: #373A3C;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
}

@media (min-width: 767px) {
    .navbar {
        box-shadow: none;
    }

    .navbar-brand {
        margin-left: 0;
        margin-right: 1rem;
    }
}

.footer {
    flex-shrink: 0;
    border-top: 1px solid #ECEEEF;
    background-color: #fff;
    padding: 1.275rem 0;
    color: #818A91;
    font-size: .875rem;
}

.footer-inner {
    display: flex;
    flex-direction: column;
}

.footer-menu {
    margin-bottom: 1rem;
}

.footer-menu a {
    display: flex;
    margin-bottom: .5rem;
}

.mobile-search-menu-icon {
    display: inline-flex;
}

@media (min-width: 992px) {
    .mobile-search-menu-icon {
        display: none;
    }
}

@media (min-width: 767px) {
    .footer {
        background-color: #F2F2F2;
    }

    .footer-inner {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-menu {
        margin-bottom: 0;
    }

    .footer-menu a {
        display: inline-flex;
        margin-bottom: 0;
    }
}

.jumbotron.jumbotron-light {
    background-color: #fff;
    border: 1px solid #ddd;
}

.jumbotron.jumbotron-form {
    border: none;
    padding: 0;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem;
    }

    .jumbotron.jumbotron-form {
        border: 1px solid #ddd;
        padding: 2rem;
    }
}

form button[type="submit"] {
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 500;
}

.form-footer {
    font-size: .875rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    color: #999;
}

.socials {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.btn-social {
    color: #fff;
    margin: 0 0 1rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: relative;
}

.btn-social:hover {
    opacity: .9;
}

.btn-social img {
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-social.-fb {
    background-color: #2C408E;
}

.btn-social.-vk {
    background-color: #416CA9;
}

.btn-social.-twitter {
    background-color: #1D8EF0;
}

@media all and (min-width: 767px) {
    .socials {
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }

    .btn-social {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .btn-social img {
        transform: none;
        position: relative;
        top: auto;
        left: auto;
        margin-right: .4rem;
    }

    .btn-social {
        margin: 0 .275rem;
    }
}

.alert {
    margin-bottom: 2rem;
}

.modal {
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.modal-header {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 1.475rem 2.5rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #D9534F;
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media all and (min-width: 767px) {
    .modal-header {
        padding: 1.6rem;
    }
}

.modal-header .btn-close {
    position: absolute;
    top: 50%;
    right: 1.1rem;
    transform: translate(0, -50%);
}

.modal-header .arrow-back {
    position: absolute;
    top: 50%;
    left: 1.1rem;
    transform: translate(0, -50%);
}

.modal-footer {
    border: none;
    padding: 1.4rem 2rem;
}

.modal-body {
    padding: 1.4rem 2rem;
}

.modal-body.-height-auto {
    flex: 0 1 auto;
}

@media all and (min-width: 767px) {
    .modal-body {
        /*padding: 1.4rem 2rem;*/
    }
}

.modal-dialog {
    margin: 0;
    height: 100%;
}

@media all and (min-width: 767px) {
    .modal-dialog {
        margin: 1.5rem auto;
        height: auto;
    }
}

.modal-content {
    border: none;
    min-height: 100%;
}

@media all and (min-width: 767px) {
    .modal-content {
        min-height: auto;
        border: 1px solid rgba(0, 0, 0, .2);
    }
}

.modal-title-block {
    font-size: 1rem;
    line-height: 1;
}

.modal-menu__title {
    padding: 1.5rem 1.0625rem .75rem;
    border-bottom: 1px solid #DDDDDD;
}

.modal-menu__item {
    font-size: 1rem;
    padding: 1.0625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #373A3C;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-menu__item:hover, .modal-menu__item:active, .modal-menu__item:focus {
    background-color: #e4e4e4;
    color: #373A3C;
    text-decoration: none;
}
.modal-menu__item.active {
    background-color: #e4e4e4;
}

.modal-menu__item.is-submenu {
    padding-right: 3rem;
    background: url(assets/icons/icon-angle.svg) no-repeat;
    background-position: calc(100% - 1.1rem) center;
}

.modal .modal-content {
    border-radius: 0 !important;
}

.modal .close {
    cursor: pointer;
}

/* sidebar */
.list-group-item.dropdown.show {
    border-top-right-radius: 0;
    border-right-color: transparent;
    color: #D9534F;
}

.list-group-item.dropdown.show ~ .list-group-item:last-child {
    border-bottom-right-radius: 0;
}

.sidebar {
    position: relative;
    z-index: 100;
}

.backdrop {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.backdrop.show {
    opacity: 1;
    visibility: visible;
}

.sidebar .dropdown-menu.show {
    top: -1px !important;
    left: 100% !important;
    transform: none !important;
    margin: 0;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    border-left-color: transparent;
    padding: .75rem 0;
}

@media all and (max-width: 767px) {
    .sidebar {
        margin-left: -16px;
        margin-right: -16px;
    }

    .sidebar .dropdown-menu.show {
        top: 100% !important;
        left: 0 !important;
        width: 100%;
        border: transparent;
        border-radius: 0;
    }
}

.sidebar .list-group-item {
    position: relative;
    padding: 0;
}

.sidebar .list-group-item > a {
    padding: 1.0625rem 2rem 1.0625rem 1.25rem;
    line-height: 1;
}

.sidebar .list-group-item .dropdown-toggle::after {
    content: "";
    background: url(assets/icons/icon-angle.svg) no-repeat;
    background-position: center;
    background-size: 7px 11px;
    border: none;
    width: 7px;
    height: 11px;
    vertical-align: middle;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translate(0, -50%);
}

.sidebar .list-group-item.dropdown.show .dropdown-toggle::after {
    display: none;
}